**Data Types And Structures Questions**
1. What are data structures, and why are they important?
   
   ANS. Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They are important because they determine how effectively data can be processed, enabling faster and more optimized algorithms in software development.

2. Explain the difference between mutable and immutable data types with examples

   ANS. Mutable data types can be changed after they are created, while immutable data types cannot be changed once created.
   Example- list is mutable and tupple is immutable.

3.  What are the main differences between lists and tuples in Python?

   ANS. Lists are **mutable** and use square brackets `[ ]`, meaning their content can change. Tuples are **immutable** and use parentheses `( )`, so their content cannot be changed. Tuples are faster and used for fixed data, while lists are used for dynamic data.

4. Describe how dictionaries store data?

   ANS. Dictionaries in Python store data as key-value pairs, where each unique key maps to a specific value

5. Why might you use a set instead of a list in Python?

   ANS. You might use a set instead of a list in Python when you need to store **unique items** and want **fast membership testing**. Sets automatically remove duplicates and provide quicker lookup times compared to lists, especially with large data. However, unlike lists, sets are **unordered** and do not support indexing.

6. What is a string in Python, and how is it different from a list?

   ANS. A **string** in Python is a sequence of characters enclosed in quotes, like `"hello"`. It is **immutable**, meaning its content cannot be changed after creation. A **list**, on the other hand, is a collection of items (which can be of different types) enclosed in square brackets, like `[1, "apple", 3.14]`. Lists are **mutable**, meaning their content can be changed, and they can hold any type of data, while strings only store characters.

7.  How do tuples ensure data integrity in Python?

   ANS. Tuples ensure data integrity in Python by being **immutable**. Once a tuple is created, its contents cannot be changed, which prevents accidental modification of data. This makes tuples useful for storing data that should remain constant throughout the program, ensuring the integrity of the information.

8. What is a hash table, and how does it relate to dictionaries in Python?

   ANS. A **hash table** is a data structure that stores data in key-value pairs and uses a **hash function** to convert the key into an index for fast access to the value. In Python, **dictionaries** are implemented using hash tables, allowing for fast lookups, insertions, and deletions based on keys. The key is hashed to find its corresponding value, making dictionaries efficient in terms of performance.

9.  Can lists contain different data types in Python?

   ANS. YES it contain differnt data types in python

10. Explain why strings are immutable in Python?

   ANS. Strings are immutable in Python to ensure data integrity and performance. Since strings are often used in multiple places, making them immutable prevents accidental changes, which helps avoid bugs.

11. What advantages do dictionaries offer over lists for certain tasks?

   ANS. Dictionaries offer several advantages over lists for certain tasks:

   **Fast lookups**: Dictionaries use keys for fast access to values, whereas lists require searching through each item.
   **Unique keys**: In dictionaries, each key is unique, making it easier to store and retrieve data without duplicates.
   **Key-value pairing**: Dictionaries store data in a structured way (key-value pairs), making it ideal for mapping relationships, like a phone book (name → number).

12. Describe a scenario where using a tuple would be preferable over a list?

   ANS.  For example, if you're storing coordinates of a location (latitude, longitude), you want to ensure these values remain constant throughout your program. Since tuples are immutable, they provide data integrity, preventing accidental modifications, which makes them ideal for this scenario.

13. How do sets handle duplicate values in Python?

   ANS. Sets automatically **remove duplicate values**. When you try to add a duplicate item to a set, it simply ignores it. This ensures that each element in a set is unique, making sets useful for tasks where you need to store only distinct items.

14. How does the “in” keyword work differently for lists and dictionaries?

  ANS. with lists, it's checking values, and with dictionaries, it's checking keys.

15. Can you modify the elements of a tuple? Explain why or why not .

   ANS. No, you cannot modify the elements of a tuple because tuples are immutable

16. What is a nested dictionary, and give an example of its use case?

  ANS. A nested dictionary is a dictionary where the value of one or more keys is another dictionary. This allows you to store complex, hierarchical data structures.

  Example use case:
  A nested dictionary can be used to store information about multiple students, where each student has a set of details (like name, age, and grades).

17. Describe the time complexity of accessing elements in a dictionary?

  ANS. Accessing elements in a dictionary in Python generally has a time complexity of O(1), also known as constant time.

18. In what situations are lists preferred over dictionaries?

   ANS. use lists when you need ordered, indexable collections of similar items.

19. Why are dictionaries considered unordered, and how does that affect data
  retrieval?

   ANS. Dictionaries in Python are considered unordered because the elements are stored based on their hash values, not in a specific sequence. This means the order of the key-value pairs is not guaranteed and can change.

20. Explain the difference between a list and a dictionary in terms of data
  retrieval.

  ANS. In terms of data retrieval, the main difference between a list and a dictionary lies in how data is accessed. In a list, elements are accessed by their index (position), and while accessing an item by its index is fast (O(1)), searching for a specific value requires scanning through each element, which takes linear time (O(n)).

**PRACTICAL QUESTIONS**

In [ ]:
# 1. Write a code to create a string with your name and print it.
name="Aman singh"
print(name)

Aman singh

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
a = "Hello World"
len(a)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
a[0:3]

'Pyt'

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
a="hello"
a.upper()

'HELLO'

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="i like apple"
a.replace("apple","orange")

'i like orange'

In [1]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [2]:
# 7. write a code to append the number 10 to the list [1,2,3,4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [3]:
# 8. write a code to remove the number 3 from the list [1,2,3,4,5]
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [5]:
# 9. write a code to access the second element in the list ['a','b','c', 'd']
a=["a","b","c","d"]
a[1]

'b'

In [7]:
# 10. write a code to reverse the list [10,20,30,40,50]
a=[10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [8]:
# 11. write a code to create a tuple with the elements 100, 200, 300 and print it
a=(100,200,300)
a

(100, 200, 300)

In [9]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors=("red","green","blue","yellow")
colors[-2]

'blue'

In [10]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
nums_tuple = (10, 20, 5, 15)
print(min(nums_tuple))

5

In [12]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [13]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [14]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [15]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [16]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [17]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [18]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print(set1.intersection({2, 3, 4}))

{2, 3}

In [19]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [20]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [21]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person3 = {'name': 'Alice', 'age': 30}
print(person3["name"])

Alice

In [22]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person4["age"]
print(person4)

{'name': 'Bob', 'city': 'New York'}

In [23]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person5)

True

In [24]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [25]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
rand_nums = [random.randint(1, 100) for _ in range(5)]
rand_nums.sort()
print(rand_nums)

[13, 20, 30, 54, 79]

In [26]:
# 28. Write a code to create a list with strings and print the element at the third index
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[3])

date

In [27]:
# 29. Write a code to combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [28]:
# 30. Write a code to convert a list of strings into a set
str_list2 = ["apple", "banana", "cherry"]
print(set(str_list2))

{'cherry', 'apple', 'banana'}